<hr />
<h2>Comments</h2>
<%= div_for @post.comments, class: "panel panel-default" do |comment| %>
  <%= div_for(comment, class: "panel-body") do
     comment.body
   end %>
<% end %>

<%= form_for [@post, @post.comments.build] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Save Comment", class: "btn btn-block btn-success" %>
  </div>
<% end %>
