<%= div_for post, class: "post col-md-8 col-md-offset-2" do %>
  <h2><%= link_to post.title, post_path(post) %></h2>
  <p><%= post.body %></p>
    <p class="right">
      Comments(<%= post.comments.count %>)
    </p>
    <ul>
      <%= content_tag_for :li, post.tags do |tag|
        tag.name
      end %>
    </ul>
<% end %>
